
/* selector-item.css */
.som-selector-item {
    
    .som-selector-item__title {
        height: 28px;
        line-height: 28px;
        padding-left: 16px;
        color: #666;
        font-size: 12px;
        background-color: #f2f2f2;
    }

    .som-selector-item__content{
        background-color: white;
    }
}
