/*
14. Liquid, secondary columns fixed-width (n.14)
要求
在13的基础上，调换navigation和extra
*/
#container {
    margin: 0 auto;
}

#wrapper {
    float: left;
    width: 100%;
}

#content {
    margin-left: 200px;
    margin-right: 200px;
}

#navigation {
    float: left;
    width: 200px;
    margin-left: -100%;
}

#extra {
    float: left;
    width: 200px;
    margin-left: -200px;
}

#footer {
    clear: both;
}