/*
20. Liquid, three columns, hybrid widths (n.19)(混合宽度)
要求
navigation 宽度33%，位于content左侧
content margin-left:33% margin-right: 200px
extra 宽度200px，位于content右侧
*/
#container {
    margin: 0 auto;
}

#wrapper {
    float: left;
    width: 100%;
}

#content {
    margin-left: 33%;
    margin-right: 200px;
}

#navigation {
    float: left;
    width: 33%;
    margin-left: -100%;
}

#extra {
    float: left;
    width: 200px;
    margin-left: -200px;
}

#footer {
    clear: both;
}