/*
30. Two percentage columns and one larger (n.29)

要求

在29的基础上，调换wrapper和navigation
wrapper margin-left:-30%为navigation留出空间 width:100%不能省
content margin-left:30%
navigation 宽度30%，位于content右侧
extra 宽度100%，位于content底部

图示*/
#container {
    margin: 0 auto;
}

#wrapper {
    float: left;
    width: 100%;
    margin-left: -30%;
}

#content {
    margin-left: 30%;
}

#navigation {
    float: left;
    width: 30%;
}

#extra {
    float: left;
    width: 100%;
}

#footer {
    clear: both;
}