/*
32. Two columns liquid, fixed side and large one (n.32)

要求

在30基础上，把百分比宽度30%换成固定200px
wrapper margin-left:-200px为navigation留出空间
content margin-left:200px
navigation 宽度200px，位于content右侧
extra 宽度100%，位于content底部

图示*/
#container {
    margin: 0 auto;
}

#wrapper {
    float: left;
    width: 100%;
    margin-left: -200px;
}

#content {
    margin-left: 200px;
}

#navigation {
    float: left;
    width: 200px;
}

#extra {
    float: left;
    width: 100%;
}

#footer {
    clear: both;
}