
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*::-webkit-scrollbar {*/
/*max-width: 1%;*/
/*}*/

.row {
    width: 100%;
    height: 100%;
}

#tpl-category {
    width: 8%;
    max-width: 8%;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;
    padding-left: 10px;
    height: 100%;
}

.tpl-anchor {
    display: block;
    margin: 5px;
}

#tpl-page {
    width: 90%;
    max-width: 90%;
    float: left;
    overflow-y: auto;
    overflow-x: auto;
}

