/**
 * 1像素border的mixin
 */

@define-mixin border-bottom $color {
    position: relative;
    &:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        background: $color;
    }
    @media (-webkit-device-pixel-ratio: 3) {
        &:after {
            transform: scaleY(0.3333);
            -webkit-transform: scaleY(0.3333);
        }
    }
    @media (-webkit-device-pixel-ratio: 2) {
        &:after {
            transform: scaleY(0.5);
            -webkit-transform: scaleY(0.5);
        }
    }
    @media (-webkit-device-pixel-ratio: 1.5) {
        &:after {
            transform: scaleY(0.6666);
            -webkit-transform: scaleY(0.6666);
        }
    }
}

@define-mixin topBorder $color: #d9d9d9 {
    position: relative;
    &:after {
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        background: $color;
    }
    @media (-webkit-device-pixel-ratio: 3) {
        &:after {
            transform: scaleY(0.3333);
            -webkit-transform: scaleY(0.3333);
        }
    }
    @media (-webkit-device-pixel-ratio: 2) {
        &:after {
            transform: scaleY(0.5);
            -webkit-transform: scaleY(0.5);
        }
    }
    @media (-webkit-device-pixel-ratio: 1.5) {
        &:after {
            transform: scaleY(0.6666);
            -webkit-transform: scaleY(0.6666);
        }
    }
}

@define-mixin leftBorder $color: #d9d9d9 {
    position: relative;
    &:after {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left:  0;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        background: $color;
    }
    @media (-webkit-device-pixel-ratio: 3) {
        &:after {
            transform: scaleX(0.3333);
            -webkit-transform: scaleX(0.3333);
        }
    }
    @media (-webkit-device-pixel-ratio: 2) {
        &:after {
            transform: scaleX(0.5);
            -webkit-transform: scaleX(0.5);
        }
    }
    @media (-webkit-device-pixel-ratio: 1.5) {
        &:after {
            transform: scaleX(0.6666);
            -webkit-transform: scaleX(0.6666);
        }
    }
}

@define-mixin rightBorder $color: #d9d9d9 {
    position: relative;
    &:after {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        background: $color;
    }
    @media (-webkit-device-pixel-ratio: 3) {
        &:after {
            transform: scaleX(0.3333);
            -webkit-transform: scaleX(0.3333);
        }
    }
    @media (-webkit-device-pixel-ratio: 2) {
        &:after {
            transform: scaleX(0.5);
            -webkit-transform: scaleX(0.5);
        }
    }
    @media (-webkit-device-pixel-ratio: 1.5) {
        &:after {
            transform: scaleX(0.6666);
            -webkit-transform: scaleX(0.6666);
        }
    }
}
