<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>watch-example</title>
	<style>
		
	</style>
</head>
<body>
	<div id="todo-list-example">
	  <input
	    v-model="newTodoText"
	    v-on:keyup.enter="addNewTodo"
	    placeholder="Add a todo"
	  >
	  <ul>
	    <li
	      is="todo-item"
	      v-for="(todo, index) in todos"
	      v-bind:key="todo.id"
	      v-bind:title="todo.title"
	      v-on:remove="todos.splice(index, 1)"
	    ></li>
	  </ul>
	  <button v-on:click="warn('Form cannot be submitted yet.', $event)">
	    Submit
	  </button>
	  <div id="example-4">
	    <input type="radio" id="one" value="One" v-model="picked">
	    <label for="one">One</label>
	    <br>
	    <input type="radio" id="two" value="Two" v-model="picked">
	    <label for="two">Two</label>
	    <br>
	    <span>Picked: {{ picked }}</span>
	  </div>
	</div>
	<script src='js/vue.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
	<script type='text/javascript'>
		new Vue({
		  el: '#example-4',
		  data: {
		    picked: ''
		  }
		});
		Vue.component('todo-item', {
		  template: '\
		    <li>\
		      {{ title }}\
		      <button v-on:click="$emit(\'remove\')">X</button>\
		    </li>\
		  ',
		  props: ['title']
		});
		new Vue({
		  el: '#todo-list-example',
		  data: {
		    newTodoText: '',
		    todos: [
		      {
		        id: 1,
		        title: 'Do the dishes',
		      },
		      {
		        id: 2,
		        title: 'Take out the trash',
		      },
		      {
		        id: 3,
		        title: 'Mow the lawn'
		      }
		    ],
		    nextTodoId: 4
		  },
		  methods: {
		    addNewTodo: function () {
		      this.todos.push({
		        id: this.nextTodoId++,
		        title: this.newTodoText
		      });
		      console.log(this.todos);
		      this.newTodoText = '';
		    },
		    warn: function (message, event) {
		      // 现在我们可以访问原生事件对象
		      if (event) event.preventDefault();
		      alert(message);
		    }
		  }
		});
	</script>	
</body>
</html>